.head {
    width: 100%;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3100a2;
    padding: 10px 20px;
    color: #fff;
  }
  
  .logo {
    width: 100px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input {
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
  }
  
  .search-bar button {
    padding: 5px 10px;
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .header-icons a {
    margin-left: 10px;
  }
  
  .header-icons button {
    padding: 5px 10px;
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .new-launch-hotels-page {
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
  }
  
  .new-launch-hotels-page h1 {
    min-height: auto;
    min-width: 80vh;
    color: #3100a2;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .restaurants-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .restaurant-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .offer {
    background-color: #ff6347;
    color: #fff;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .restaurant-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .restaurant-info {
    text-align: center;
    color: #3100a2;
  }
  
  .restaurant-info h2 {
    margin: 10px 0;
  }
  
  .restaurant-info p {
    margin: 5px 0;
  }
  