.signup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(50, 87%, 66%);
    padding: 20px;
  }
  
  .signup-page h2 {
    color: #3100a2;
    margin-bottom: 20px;
  }
  
  .signup-page input,
  .signup-page select {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .signup-page button {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    background-color: #3100a2;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .signup-page button:hover {
    background-color: #ff6347;
  }
  
  .signup-page input:focus,
  .signup-page select:focus,
  .signup-page button:focus {
    outline: none;
    border-color: #3100a2;
  }
  
  .signup-page select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  