.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1c40f;
  min-height: 100vh;
  justify-content: space-between;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #f1c40f;
}

.logo {
  width: 100px;
  height: auto;
}

.menu-button {
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
}

.about-content {
  background-color: #fff;
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.about-content h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 1em;
  color: #666;
  line-height: 1.5;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #f1c40f;
}

.footer p {
  margin: 0;
}

.social-icons button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}
